apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.labels.app }}-deployment
  labels:
    app: {{ .Values.labels.app }}-app
    env: {{ .Values.labels.env }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.labels.app }}
      env: {{ .Values.labels.env }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      name: {{ .Values.labels.app }}
      labels:
        app: {{ .Values.labels.app }}
        env: {{ .Values.labels.env }}
    spec:
      serviceAccountName: code-artifact-sa
      volumes:
        - name: {{ .Values.volumes.name }}
          emptyDir: {}
      initContainers:
        - name: git-clone
          image: {{ .Values.initContainers.image }}
          command: ["sh", "-c"]
          args:
           - |
              git clone https://github.com/maxpain62/eos-cloud-config-repo.git /tmp/eos-cloud-config-repo/
              REPLACERDS=$(aws rds describe-db-instances --db-instance-identifier eos-db --region ap-south-1 --query 'DBInstances[0].Endpoint.Address' --output text)
              KAFKAARN=$(aws kafka list-clusters --region ap-south-1 --query 'ClusterInfoList[*].ClusterArn' --output text)
              REPLACEKAFKA=$(aws kafka get-bootstrap-brokers --cluster-arn ${KAFKAARN}  --region ap-south-1 --query 'BootstrapBrokerString' --output text | awk -F',' '{print $1}' | awk -F':' '{print $1}')
              REPLACEaccessKey=$(aws secretsmanager get-secret-value --secret-id dev/eos-cloud-config-api --region ap-south-1 --query 'SecretString' --output text | awk -F',' '{print $1}' | awk -F':' '{print $2}' | tr -d '"')
              REPLACEsecretKey=$(aws secretsmanager get-secret-value --secret-id dev/eos-cloud-config-api --region ap-south-1 --query 'SecretString' --output text | awk -F',' '{print $2}' | awk -F':' '{print $2}' | tr -d '"' | tr -d '}')
              sed -i "s|REPLACERDS|${REPLACERDS}|g" /tmp/eos-cloud-config-repo/application.yml
              sed -i "s|REPLACEKAFKA|${REPLACEKAFKA}|g" /tmp/eos-cloud-config-repo/application.yml
              sed -i "s|REPLACEaccessKey|${REPLACEaccessKey}|g" /tmp/eos-cloud-config-repo/application.yml
              sed -i "s|REPLACEsecretKey|${REPLACEsecretKey}|g" /tmp/eos-cloud-config-repo/application.yml
              cp -rp /tmp/eos-cloud-config-repo/.* /tmp/eos-cloud-config-repo/application.yml /repo/
          volumeMounts:
            - name: eos-cloud-config-repo
              mountPath: /repo
      containers:
        - name: {{ .Values.labels.app }}-container
          image: {{ .Values.containers.image }}
          ports:
            - containerPort: {{ .Values.port }}
              protocol: TCP
          volumeMounts:
            - name: eos-cloud-config-repo
              mountPath: /etc/eos-cloud-config-repo/
      imagePullSecrets:
        - name: ecr-cred
