replicaCount: 1

containers:
  image: 134448505602.dkr.ecr.ap-south-1.amazonaws.com/dev/eos-cloud-config-api:latest
initContainers:
  image: maxpain62/aws-cli:git

volumes:
  name: eos-cloud-config-repo

port: 8888

labels:
  app: eos-cloud-config-api
  env: dev

namespace: eos-dev
